<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.2/handlebars.min.js"></script>
<script src="/js/tiles.js"></script>

{{#if error}}
	<div class="alert alert-danger alert-dismissable">
		  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  <p><strong>Sorry, we've hit a snag.</strong> <em>{{error}}</em></p>
	</div>
{{/if}}
<div class="row">
	<div id="map" style="position:absolute; bottom:0; top:0; right:0;">
		<div id="map-area-instructions">
			<div id="select-area-button" class="btn btn-default btn-md disabled">Select Area</div>
			<p id="instructions">Zoom in to where you want to map.</p>
		</div>
		<div id="request-mbtiles">
			<div class="form-group">
				<label for="exampleInputEmail1">Name this area:</label>
				<div class="input-group">
		    	<input type="text" class="form-control" id="file-name" placeholder="area-name">
					<div class="input-group-addon">.mbtiles</div>
				</div>
				<label class="input-warning" for="exampleInputEmail1">*No spaces or special characters.*</label>
		  </div>
			<div id="generate-mbtiles" class="btn btn-success btn-md disabled">Generate MBTiles</div>
		</div>
	</div>
</div>
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
<script>

var areaNW = undefined,
    areaSE = undefined,
		box = undefined,
		selectable = false,
    validRequestExists = false,
		fileName = undefined,
		bounds = undefined,
		request = { fileName: undefined, bounds: undefined };

function sizeMap() {
	$("#map").css("left", function() {
		return $(window).width() >= 1025 ? "25%" : "0";
	})
}
$(window).resize(function(){
	sizeMap();
});
sizeMap();


// Provide your access token
L.mapbox.accessToken = 'pk.eyJ1IjoiYWFyb25kZW5uaXMiLCJhIjoiem5LLURoYyJ9.T3tswGTI5ve8_wE-a02cMw';
// Create a map in the div #map
var map = L.mapbox.map('map', 'aarondennis.humanitarian', {
						zoomControl: false
					}).addControl(
						L.mapbox.geocoderControl('mapbox.places', {
      				autocomplete: true,
							position: 'topright'
						})
					).setView([0, 0], 2);;

// Change zoom control location
new L.Control.Zoom({ position: 'topright' }).addTo(map);

map.on('zoomend', function() {
	selectable = map.getZoom() >= 7 ? true : false;

	if(selectable) {
		$('#map-area-instructions').css('background-color', 'rgba(200,255,200,0.8)')
		$('#instructions').css('display', 'none').text('');
		$('#select-area-button').removeClass('disabled');

		$('#select-area-button').on('click', function() {
			$('#request-mbtiles').css('display', 'none');
			startDrawing();
		})

	} else {
		$('#map-area-instructions').css('background-color', 'rgba(255,200,200,0.8)')
		$('#instructions').css('display', 'block').text('Zoom in to where you want to map.');
		$('#select-area-button').addClass('disabled');
	}

});

function startDrawing() {

	console.log('starting to draw');
	$('#instructions').css('display', 'block').text('Click and drag to select where you want to map.');

	map.dragging.disable();

	$('#map').css('cursor', 'crosshair');

	map.on('mousedown', draw);

}


function draw(e) {

		start = [e.latlng['lat'], e.latlng['lng']];

		selectArea(start, start);
		map.on('mousemove', dragRectangle);

		map.on('mouseup', function(e) {

			map.off('mousemove', dragRectangle);
			$('#request-mbtiles').css('display', 'block');

			$('#map').css('cursor', 'default');
			map.off('mousedown', draw);

			map.fitBounds(bounds);

		});

}

function dragRectangle(e) {
	end = [e.latlng['lat'], e.latlng['lng']];
	selectArea(start, end);

	console.log((start[0]-end[0]) * (start[1] - end[1]));

}

function selectArea(nw, se) {
	// define rectangle geographical bounds
	bounds = [nw, se];
	// create an orange rectangle
	if (box) { map.removeLayer(box); }
	box = L.rectangle(bounds, {
		color: "#ed1b2e",
		fillOpacity: 0.2,
		weight: 2,
		clickable: false
	});
	box.addTo(map);
}

$('#file-name').keyup(function(){
	fileName = $('#file-name').val();

	var pattern = /^[a-zA-Z0-9-_]*$/
	var valid = pattern.test(fileName) && fileName !== '';

	if(valid) {
		validRequestExists = true;
		$('#generate-mbtiles').removeClass('disabled');

		$('#generate-mbtiles').off().on('click', requestMBTiles);

	} else if (validRequestExists) {
		validRequestExists = false;
		$('#generate-mbtiles').addClass('disabled');

		$('#generate-mbtiles').off('click', requestMBTiles);

	}

});

function requestMBTiles() {

	console.log('clicked');

	request.fileName = fileName;
	request.bounds = bounds;

	$.post('/map', request, function(data) {
		if(data==='done')
      {
        alert("login success");
      }
	});

}

</script>
